$heading-font-family: "Nunito Sans", sans-serif;
$body-font-family: "Montserrat", sans-serif;

// $active-opacity: 1;
// $inactive-opacity: 0.15;

$white: #fff;
$black: #000;
$black-light: #00000080;


$logo-dark: #579BC0;
$block-light: #DAECF4;
$logo-light: #A0C6DD;
$complimentary-dark: #8F8679;
$complimentary-light: #DEC4A0;
$assessment-orange: #E09D4B;

$spacing: 2rem;
$spacing-slight: 0.5em;

$card-width: 45rem;
$card-height: calc(3.35em + 300px);
$card-border-radius: 8px;

$light-gray-background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #C2C9D1;

$box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);

$tab-shadow: inset 0px -6px 8px 0px rgba(0, 0, 0, 0.06);

$tab-shadow-selected: -8px -6px 8px 0px rgba(0, 0, 0, 0.12), 
              8px -6px 8px 0px rgba(0, 0, 0, 0.12);

$button-border-width: 0.125em;
$button-border-radius: 4px;
