@import '../styles/variables.scss';

.assessment {
  width: 100%;
  height: 100%;
  padding: $spacing;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--card {
    width: 90%;
    padding: $spacing;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $white;
    border-radius: $card-border-radius;
    box-shadow: $box-shadow;
  }

  &--form {
    padding: $spacing;
    width: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;

    &--group {
      width: 60%;
      padding: $spacing-slight;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

  }
  
  &--error {
    padding: $spacing-slight;
    display: flex;
    align-items: center;
    border-radius: $card-border-radius;
  }

  .column {
    flex-direction: column;

    *{
      padding: $spacing-slight;
    }
  }

  .row {
    flex-direction: row;

    
    // *{
    //   padding: $spacing-slight;
    // }
  }
}

select:required:invalid {
  color: gray;
}
// option[value=""][disabled] {
//   display: none;
// }
option {
  color: black;
}