@import "~normalize.css/normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&family=Nunito+Sans:wght@300;400;600;700;900&display=swap');

@import "./styles/variables.scss";
@import "./styles/reset.scss";

@import "./styles/typography.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: $body-font-family;
  background: $light-gray-background;
}

a {
  text-decoration: none;

  &:focus, &:hover, &:visited, &:link, &:active {
      text-decoration: none;
  }
}

.heading {
  font-family: $heading-font-family;
}

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// adjust the media queries for this app
@media only screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}